* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "montseratta", sans-serif;
}

.app {
    background-image: url(./assets/cold-bg.jpg);
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease-out;
}

.app.thunderstorm {
    background-image: url(./assets/wallpapers/thunderstorm.jpg);
}

.app.drizzle {
    background-image: url(./assets/wallpapers/drizzle.jpg);
}

.app.rain {
    background-image: url(./assets/wallpapers/rain.jpg);
}

.app.snow {
    background-image: url(./assets/wallpapers/snow.jpg);
}

.app.mist {
    background-image: url(./assets/wallpapers/mist.jpg);
}

.app.smoke {
    background-image: url(./assets/wallpapers/smoke.jpg);
}

.app.haze {
    background-image: url(./assets/wallpapers/haze.jpg);
}

.app.dust {
    background-image: url(./assets/wallpapers/dust.jpg);
}

.app.fog {
    background-image: url(./assets/wallpapers/fog.jpg);
}
.app.sand {
    background-image: url(./assets/wallpapers/sand.jpg);
}

.app.ash {
    background-image: url(./assets/wallpapers/dust.jpg);
}

.app.squall {
    background-image: url(./assets/wallpapers/squal.jpg);
}

.app.tornado {
    background-image: url(./assets/wallpapers/tornado.jpg);
}

.app.clear {
    background-image: url(./assets/wallpapers/clear.jpg);
}

.app.clouds {
    background-image: url(./assets/wallpapers/clouds.jpg);
}

main {
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5)
    );
    padding: 25px;
}

.search-box {
    width: 100%;
    margin: 0 0 25px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -25px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
    color: white;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 5px 25px;
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .real-temp {
    color: white;
    margin-top: -55px;
    margin-left: 105px;
    font-size: 15px;
    font-style: italic;
    font-weight: 50;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}

.weather-box .weather {
    color: white;
    margin-top: 5px;
    font-size: 38px;
    font-weight: 600;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .details {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 5px;
    color: white;
    font-size: 18px;
    font-weight: 00;
    text-shadow: 3px 4px rgba(50, 50, 70, 0.5);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .details .sun {
    padding-left: 75px !important;
}

/* ---------------------- Loading page css -------------------------------- */

.modal-content {
    border-radius: 0px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
}

.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    -webkit-animation-name: preloader;
    animation-name: preloader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
    transform-origin: 170px 170px;
    will-change: transform;
}
circle:nth-of-type(1) {
    stroke-dasharray: 550;
}
circle:nth-of-type(2) {
    stroke-dasharray: 500;
}
circle:nth-of-type(3) {
    stroke-dasharray: 450;
}
circle:nth-of-type(4) {
    stroke-dasharray: 300;
}
circle:nth-of-type(1) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}
circle:nth-of-type(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
circle:nth-of-type(3) {
    -webkit-animation-delay: -0.45s;
    -moz-animation-delay: -0.45s;
    animation-delay: -0.45s;
}
circle:nth-of-type(4) {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
